@media screen and (max-width: 700px) {
    .Inicio {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        background-image: url(../../images/Fondo.png);
        background-repeat: no-repeat;
    }

    .Inicio-miMenu {
        position: absolute;
        left: 12%;
        top: 17.61%;
        bottom: 71.06%;
    }

    .Inicio-logo {
        position: absolute;
        left: 13%;
        top: 87%;
    }

    .Inicio-c {
        position: absolute;
        left: 37%;
        top: 95%;
    }

    .Inicio-c-tdr {
        position: absolute;
        left: 39%;
        top: 95%;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300px;
        font-size: 6px;
        line-height: 7px;
        text-align: center;
    }
}