@media screen and (max-width: 700px) {
    .Configuracion-c {
        position: absolute;
        width: 254px;
        height: 33px;
        left: 61px;
        top: 137px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        color: #007DA4;
    }

    .Configuracion-mc {
        position: absolute;
        width: 136px;
        height: 16px;
        left: 49px;
        top: 224px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #686A6A;
    }

    .Configuracion-l1 {
        position: absolute;
        width: 300px;
        height: 0px;
        left: 38px;
        top: 272px;
        border: 0.25px solid #686A6A;
    }

    .Configuracion-msc {
        position: absolute;
        width: 136px;
        height: 16px;
        left: 50px;
        top: 309px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #686A6A;
    }

    .Configuracion-l2 {
        position: absolute;
        width: 300px;
        height: 0px;
        left: 38px;
        top: 355px;
        border: 0.25px solid #686A6A;
    }

    .Configuracion-mm {
        position: absolute;
        width: 136px;
        height: 16px;
        left: 50px;
        top: 390px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #686A6A;
    }

    .Configuracion-l3 {
        position: absolute;
        width: 300px;
        height: 0px;
        left: 38px;
        top: 442px;
        border: 0.25px solid #686A6A;
    }

    .Configuracion-cs {
        position: absolute;
        width: 90px;
        height: 13px;
        left: 54px;
        top: 477px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #686A6A;
    }

    .Configuracion-l4 {
        position: absolute;
        width: 300px;
        height: 0px;
        left: 38px;
        top: 534px;
        border: 0.25px solid #686A6A;
    }
}