@media screen and (max-width: 700px) {
    .Home-al {
        position: absolute;
        width: 80px;
        height: 30px;
        left: 5px;
        top: 142px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #007DA4;
        mix-blend-mode: normal;
    }

    .Home-may1 {
        position: absolute;
        width: 43px;
        height: 17px;
        left: 86px;
        top: 144px;
        font-family: Roboto;
        font-style: italic;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
    }

    .Home-may2 {
        position: absolute;
        width: 37px;
        height: 16px;
        left: 129px;
        top: 144px;
        font-family: Roboto;
        font-style: italic;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
    }

    .Home-may3 {
        position: absolute;
        width: 37px;
        height: 16px;
        left: 168px;
        top: 144px;
        font-family: Roboto;
        font-style: italic;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
    }

    .Home-may4 {
        position: absolute;
        width: 37px;
        height: 16px;
        left: 209px;
        top: 144px;
        font-family: Roboto;
        font-style: italic;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
    }

    .Home-may5 {
        position: absolute;
        width: 37px;
        height: 16px;
        left: 251px;
        top: 144px;
        font-family: Roboto;
        font-style: italic;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
    }

    .Home-ar {
        position: absolute;
        width: 80px;
        height: 30px;
        left: 292px;
        top: 142px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #007DA4;
        mix-blend-mode: normal;
    }

    .Home-e1 {
        position: absolute;
        width: 17px;
        height: 16px;
        left: 99px;
        top: 160px;
        box-sizing: border-box;
    }

    .Home-e2 {
        position: absolute;
        width: 17px;
        height: 16px;
        left: 139px;
        top: 160px;
    }

    .Home-e3 {
        position: absolute;
        width: 17px;
        height: 16px;
        left: 178px;
        top: 160px;
    }

    .Home-e4 {
        position: absolute;
        width: 17px;
        height: 16px;
        left: 218px;
        top: 160px;
    }

    .Home-e5 {
        position: absolute;
        width: 17px;
        height: 16px;
        left: 258px;
        top: 160px;
    }
}