@media screen and (max-width: 700px) {
    .navbar3 {
        position: absolute;
        width: 375px;
        height: 110px;
        left: 0px;
        top: 0px;
        background: #007DA4;
        mix-blend-mode: multiply;
    }

    .navbar3_arrow {
        position: absolute;
        width: 17px;
        height: 0px;
        left: 59px;
        top: 81px;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        transform: rotate(180deg);
    }

    .navbar3_mimenu {
        position: absolute;
        left: 35%;
        top: 53px;
    }
}